body {
  margin: 0;
  font-family: 'Inria Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FDE5DA;
  color: #545454;
  box-sizing: border-box;
}

a {
  color: #545454;
}
